.leia-mais{
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    background-color: #E6E7E8;
    text-align: center;
    color: #851944;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-decoration: none;
}
article{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}